*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;


}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: space-between;
    

}
.navmenu ul {
   display: flex;
    
}
.navmenu ul li a{
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    margin: 39px;
      
    margin-top: 54px;
    color: black;
  
}
.navmenu ul li a:hover{
    color: red;
    transition: all .42s ease;
    transform: scale(0.9);
}

.logo img{
    max-width: 130px;
    margin-left: 130px;
  margin-top: 40px;
}
.navbar-icon{
    margin-right: 76px;
  margin-top: 52px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.navbar-icon i:hover{
    color: red;
    transition: all .42s ease;
    cursor: pointer;
    transform: scale(0.9);
}
.background{
    
    display: grid;
    width: 75%;
    height: 100vh;
    justify-content: center;
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1 , 1fr);
    margin-left: 385px;
}
.background{
    background-image: url(cloth11.jpg);
}
.heading{
    margin-top: -285px;
  margin-left: 100px;


}
.heading1{
    color: red;
    font-size: 20px;
}
.heading2{
    font-size: 30px;
}
.heading3{
    font-style: italic;
    font-size: 20px;
}
.main-btn{
    border: 2px solid black;
    font-style: normal;
    color: black;
    
}
.main-btn:hover{
    color: white;
    background-color: black;
}
.heading3 h4{
    margin-bottom: 20px;
}
.trending{
    text-align: center;
    margin-top: 250px;
  font-size: 20px;
  margin-bottom: 50px;

}
.trending span{
    color: red;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(260px ,auto));
    gap: 4rem;
    margin-left: 130px;
  margin-right: 130px;
}
.img img{
    width: 100%;
    height: auto;

}
.img img{
    position: relative;
    transition: all .42s;
}
.img img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    border-radius: 2px;
    background-color: rgb(14, 190, 14);
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: -342px;
  font-size: 20px;
  margin-left: 14px;
}
.heart-icon i:hover{
    color: red;
    cursor: pointer;
    

}
.heart-icon i{
    font-size: 20px;
    margin-left: 250px;
}
.rating{
    color: rgb(212, 100, 34);
    margin-top: -22px;
  font-size: 20px;
}
.phone h3{
    text-align: center;
  font-size: 32px;
  margin-top: 269px;
  margin-bottom: 50px;
  
/* ----------------phone------------- */
}
.phone span{
    color: red;
}
.products2{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(260px , auto));
    gap: 4rem;
    margin-left: 130px;
  margin-right: 130px;

}
.img2 img{
    width: 100%;
    height: auto;

}
.img2 img:hover{
    transform: scale(0.9);

}
.img2 img{
    transition: all .40s ease;
    position: relative;
}
.product-text2 h5{
    border-radius: 2px;
    background-color: rgb(51, 209, 51);
    color: white;
    position: absolute;
    margin-top: -268px;
  margin-left: 10px;
  font-size: 20px;
}

.heart-icon2{
font-size: 20px;
margin-left: 250px;

}
.heart-icon2 i:hover{
    color: red;
    cursor: pointer;
}
.rating2 i{
    color: rgb(228, 151, 49);
    
}
.rating2{
    margin-top: 5px;
    font-size: 20px;
}
/* --------------------Cricket-------------------- */
.cricket{
    text-align: center;
  margin-top: 200px;
  font-size: 20px;
  margin-bottom: 50px;
}
.cricket span{
    color: red;
}
.products3{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(260px , auto));
    gap: 4rem;
    margin-left: 130px;
    margin-right: 130px;
  
}
.img3 img{
    width: 100%;
    height: auto;
}
.img3 img:hover{
    transform: scale(0.9);
}
.img3 img{
    transition: all .40s ease;

}
.product-text3 h5{
    position: absolute;
    border: 2px ;
    background-color:  rgb(51, 209, 51);
    font-size: 20px;
    margin-top: -348px;
  margin-left: 12px;
  
}
.heart-icon3 i{
    font-size: 20px;
    margin-left: 250px;
}
.heart-icon3 i:hover{
    cursor: pointer;
    color: red;
}
.ratting3{
    margin-top: -20px;
}
.ratting3 i{
    color: rgb(216, 143, 33);
    font-size: 20px;
   
}
/* ---------------Last----------------------- */

.last-page{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(85px , auto));
    gap: 4rem;
    padding-bottom: 200px;
    margin-top: 250px;
    background-color: rgba(212, 207, 207, 0.782);
}
.last img{
    max-width: 100px;
    margin-left: 133px;
  margin-top: 250px;
}
.last2 h4{
    margin-top: 312px;
  margin-left: -164px;
}
.last2 p{
    margin-left: -164px;
}
.last3 i{
    margin-top: 368px;
    
}
.last3{
    margin-left: -413px;
}
.last4{
    margin-top: 250px;
    margin-left: -128px;
}
.last5{
    margin-top: 250px;
    margin-left: -100px;
}
.last6{
    margin-top: 250px;
    margin-left: -100px;
}
.last7{
    margin-top: 250px;
    margin-left: -100px;
}
.bottom h3{
    text-align: center;
    
}